body {
    background-image: url("/images/img_nature_wide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: sepia();
    opacity: 80%;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px grey;

}
.About{
    color:burlywood;
    font-size: 20px;
}